-- Thread INSERT still used EXISTS (SELECT 1 FROM pets ...); align with user_owns_pet.

DROP POLICY IF EXISTS "Users can create threads" ON public.chat_threads;

CREATE POLICY "Users can create threads"
ON public.chat_threads
FOR INSERT
TO authenticated
WITH CHECK (
  user_owns_pet(pet_id_1, (SELECT auth.uid()))
  OR user_owns_pet(pet_id_2, (SELECT auth.uid()))
);
