-- Fix PostgREST 42P17 "infinite recursion detected in policy for relation pets".
-- Several tables had *duplicate* permissive policies: one using user_owns_pet (SECURITY DEFINER,
-- row_security off) and another using EXISTS (SELECT 1 FROM pets ...). Postgres can evaluate the
-- pets subquery while already resolving pets RLS (e.g. pets_select_authenticated branches into
-- chat_threads / match_requests), causing infinite recursion.
--
-- Drop the raw-pets duplicates and rebuild affected policies to use only user_owns_pet.

-- chat_threads: keep "Users can view threads their pets are in"
DROP POLICY IF EXISTS "Users can view own threads" ON public.chat_threads;

-- match_requests
DROP POLICY IF EXISTS "Users can view own match requests" ON public.match_requests;
DROP POLICY IF EXISTS "Users can update own match requests" ON public.match_requests;
DROP POLICY IF EXISTS "Users can send match requests" ON public.match_requests;

-- matches: replace SELECT / UPDATE / INSERT policies that subquery pets
DROP POLICY IF EXISTS "Users can view own matches" ON public.matches;
DROP POLICY IF EXISTS "Users can update own matches" ON public.matches;
DROP POLICY IF EXISTS "Users can create matches" ON public.matches;

CREATE POLICY "Users can view own matches"
ON public.matches
FOR SELECT
TO authenticated
USING (
  user_owns_pet(pet_id_1, (SELECT auth.uid()))
  OR user_owns_pet(pet_id_2, (SELECT auth.uid()))
);

CREATE POLICY "Users can update own matches"
ON public.matches
FOR UPDATE
TO authenticated
USING (
  user_owns_pet(pet_id_1, (SELECT auth.uid()))
  OR user_owns_pet(pet_id_2, (SELECT auth.uid()))
)
WITH CHECK (
  user_owns_pet(pet_id_1, (SELECT auth.uid()))
  OR user_owns_pet(pet_id_2, (SELECT auth.uid()))
);

CREATE POLICY "Users can create matches"
ON public.matches
FOR INSERT
TO authenticated
WITH CHECK (
  user_owns_pet(pet_id_1, (SELECT auth.uid()))
  OR user_owns_pet(pet_id_2, (SELECT auth.uid()))
);

-- posts: drop duplicates; keep user_owns_pet variants
DROP POLICY IF EXISTS "Pet owners can delete posts" ON public.posts;
DROP POLICY IF EXISTS "Pet owners can insert posts" ON public.posts;

DROP POLICY IF EXISTS "Users can update their own posts" ON public.posts;

CREATE POLICY "Users can update their own posts"
ON public.posts
FOR UPDATE
TO authenticated
USING (user_owns_pet(pet_id, (SELECT auth.uid())))
WITH CHECK (user_owns_pet(pet_id, (SELECT auth.uid())));

-- post_likes
DROP POLICY IF EXISTS "Pet owners can like" ON public.post_likes;
DROP POLICY IF EXISTS "Pet owners can unlike" ON public.post_likes;
