-- Review remediation: scoped storage RLS, posts UPDATE, products catalog RLS,
-- orders UPDATE for owners. Apply via Supabase SQL editor or `supabase db push`.

-- ---------------------------------------------------------------------------
-- POSTS: allow owners to update their posts (RLS requires SELECT + UPDATE)
-- ---------------------------------------------------------------------------
DROP POLICY IF EXISTS "Users can update their own posts" ON public.posts;

CREATE POLICY "Users can update their own posts"
ON public.posts FOR UPDATE
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM public.pets
    WHERE pets.id = posts.pet_id
      AND pets.user_id = auth.uid()
  )
)
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.pets
    WHERE pets.id = posts.pet_id
      AND pets.user_id = auth.uid()
  )
);

-- ---------------------------------------------------------------------------
-- PRODUCTS: catalog table for marketplace (repo compatible with Flutter model)
-- ---------------------------------------------------------------------------
CREATE TABLE IF NOT EXISTS public.products (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  price numeric(12, 4) NOT NULL DEFAULT 0,
  vendor_id uuid NOT NULL REFERENCES auth.users (id) ON DELETE CASCADE,
  description text NOT NULL DEFAULT '',
  images jsonb NOT NULL DEFAULT '[]'::jsonb,
  stock integer NOT NULL DEFAULT 0,
  category text NOT NULL DEFAULT '',
  rating numeric(4, 2) NOT NULL DEFAULT 0,
  review_count integer NOT NULL DEFAULT 0,
  tags jsonb NOT NULL DEFAULT '[]'::jsonb,
  is_bestseller boolean NOT NULL DEFAULT false,
  created_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX IF NOT EXISTS products_category_idx ON public.products (category);
CREATE INDEX IF NOT EXISTS products_created_at_idx ON public.products (created_at DESC);

ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Authenticated users can read products" ON public.products;
CREATE POLICY "Authenticated users can read products"
ON public.products FOR SELECT
TO authenticated
USING (true);

-- Writes: use Dashboard / service_role (PostgREST bypasses RLS for service_role).
-- No INSERT/UPDATE/DELETE policies for authenticated clients.

-- ---------------------------------------------------------------------------
-- ORDERS: allow users to update their own rows (e.g. cancel / status)
-- ---------------------------------------------------------------------------
DROP POLICY IF EXISTS "Users can update their own orders" ON public.orders;

CREATE POLICY "Users can update their own orders"
ON public.orders FOR UPDATE
TO authenticated
USING (auth.uid() = user_id)
WITH CHECK (auth.uid() = user_id);

-- ---------------------------------------------------------------------------
-- STORAGE: replace overly-broad authenticated policies with path-scoped rules
-- Paths in app:
--   pet-images: avatars/<userId>_<ts>.<ext> OR <petId>/<ts>.<ext>
--   post-media: <petId>/<ts>.<ext> OR stories/<petId>/<ts>.<ext> OR <userId>/<ts>.<ext>
--
-- NOTE: Do NOT use EXISTS (... FROM pets p WHERE ... split_part(name, ...)): bare `name`
-- resolves to pets.name and breaks RLS. Use pet_is_owned_by_auth_user(uuid) or qualify
-- storage.objects.name; see migration 20260508120000_fix_storage_rls_objects_name_qualification.sql.
-- ---------------------------------------------------------------------------

-- pet-images
DROP POLICY IF EXISTS "Authenticated users can upload pet images" ON storage.objects;
DROP POLICY IF EXISTS "Authenticated users can update pet images" ON storage.objects;
DROP POLICY IF EXISTS "Authenticated users can delete pet images" ON storage.objects;

CREATE POLICY "Users can upload scoped pet images"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (
  bucket_id = 'pet-images'
  AND (
    (
      split_part(name, '/', 1) = 'avatars'
      AND split_part(name, '/', 2) LIKE auth.uid()::text || '_%'
    )
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
  )
);

CREATE POLICY "Users can update scoped pet images"
ON storage.objects FOR UPDATE
TO authenticated
USING (
  bucket_id = 'pet-images'
  AND (
    (
      split_part(name, '/', 1) = 'avatars'
      AND split_part(name, '/', 2) LIKE auth.uid()::text || '_%'
    )
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
  )
)
WITH CHECK (
  bucket_id = 'pet-images'
  AND (
    (
      split_part(name, '/', 1) = 'avatars'
      AND split_part(name, '/', 2) LIKE auth.uid()::text || '_%'
    )
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
  )
);

CREATE POLICY "Users can delete scoped pet images"
ON storage.objects FOR DELETE
TO authenticated
USING (
  bucket_id = 'pet-images'
  AND (
    (
      split_part(name, '/', 1) = 'avatars'
      AND split_part(name, '/', 2) LIKE auth.uid()::text || '_%'
    )
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
  )
);

-- post-media
DROP POLICY IF EXISTS "Authenticated users can upload post media" ON storage.objects;
DROP POLICY IF EXISTS "Authenticated users can update post media" ON storage.objects;
DROP POLICY IF EXISTS "Authenticated users can delete post media" ON storage.objects;

CREATE POLICY "Users can upload scoped post media"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (
  bucket_id = 'post-media'
  AND (
    split_part(name, '/', 1) = auth.uid()::text
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
    OR (
      split_part(name, '/', 1) = 'stories'
      AND split_part(name, '/', 2) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 2)
          AND p.user_id = auth.uid()
      )
    )
  )
);

CREATE POLICY "Users can update scoped post media"
ON storage.objects FOR UPDATE
TO authenticated
USING (
  bucket_id = 'post-media'
  AND (
    split_part(name, '/', 1) = auth.uid()::text
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
    OR (
      split_part(name, '/', 1) = 'stories'
      AND split_part(name, '/', 2) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 2)
          AND p.user_id = auth.uid()
      )
    )
  )
)
WITH CHECK (
  bucket_id = 'post-media'
  AND (
    split_part(name, '/', 1) = auth.uid()::text
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
    OR (
      split_part(name, '/', 1) = 'stories'
      AND split_part(name, '/', 2) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 2)
          AND p.user_id = auth.uid()
      )
    )
  )
);

CREATE POLICY "Users can delete scoped post media"
ON storage.objects FOR DELETE
TO authenticated
USING (
  bucket_id = 'post-media'
  AND (
    split_part(name, '/', 1) = auth.uid()::text
    OR (
      split_part(name, '/', 1) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 1)
          AND p.user_id = auth.uid()
      )
    )
    OR (
      split_part(name, '/', 1) = 'stories'
      AND split_part(name, '/', 2) ~ '^[0-9a-f-]{36}$'
      AND EXISTS (
        SELECT 1 FROM public.pets p
        WHERE p.id::text = split_part(name, '/', 2)
          AND p.user_id = auth.uid()
      )
    )
  )
);
